<app-header *ngIf="showHeader"></app-header>

<main class="card fluid m-2 p-4 min-h-full text-2xl max-h-full text-white bg-black-alpha-50">

<router-outlet></router-outlet>
</main>














<!--<div class="card card-container bg-indigo-400 p-4 justify-content-center align-content-center">-->
<!--  <div class="grid fluid p-4">-->

<!--    <div class="col-4">-->
<!--      <div class="inputgroup">-->
<!--        <span class="inputgroup-addon"><i class="pi pi-user"></i></span>-->
<!--        <input type="text" pInputText placeholder="Username">-->
<!--      </div>-->
<!--    </div>-->

<!--    <br>-->

<!--    <div class="col-4">-->
<!--      <div class="inputgroup">-->
<!--        <span class="inputgroup-addon">$</span>-->
<!--        <input type="text" pInputText placeholder="Price">-->
<!--        <span class="inputgroup-addon">.00</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-4">-->
<!--      <div class="inputgroup">-->
<!--        <span class="inputgroup-addon">www</span>-->
<!--        <input type="text" pInputText placeholder="Website">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
