<p-toast></p-toast>
<div class="grid flex text-white">

  <div class="bg-primary-reverse border-primary p-4 border-left-3 col-6 min-h-screen">

    <h3 class="mt-2 text-center p-1 bg-primary"><b>{{product.name}}</b></h3>
    <div class="fluid border-left-2 border-white border-left-3 text-center justify-content-center">
      <p-image width="300" class="" height="300" [preview]="true" [src]="product.image">-->
      </p-image>
    </div>
    <div class="bg-primary p-2"><b>Price: </b> ${{product.price}}</div>
    <div class="bg-primary p-2"><b>Quantity: </b> {{product.quantity}}</div>
    <p-rating class="my-2" [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
    <div class="bg-primary p-2"><b>Description: </b> {{product.description}}</div>

  </div>

  <div class="bg-primary-reverse p-4 border-primary border-left-3 text-left justify-content-center col-6 min-h-screen">
    <form class=" card-container p-3" (ngSubmit)="makeOrder(form)" #form="ngForm">

      <div class="mt-2 field"><label for="quantity">Quantity:</label><br>
        <input type="number" class="inputfield w-full" min="0" max="{{product.quantity}}" ngModel required
               name="quantity" #quantity pInputText
               id="quantity"></div>

      <div class="mt-2 field"><label for="name">Name:</label><br>
        <input type="text" class="inputfield w-full" required pInputText ngModel name="name" #name id="name"></div>

      <div class="mt-2 field"><label for="surname">Surname:</label><br>
        <input type="text" class="inputfield w-full" minlength="2" required ngModel name="surname" #surname pInputText
               id="surname"></div>

      <div class="mt-2 field"><label for="phone">Phone:</label><br>
        <input type="tel" class="inputfield w-full" pInputText minlength="6" maxlength="15" required ngModel
               name="phone" #phone id="phone"></div>

      <div class="mt-2 field"><label for="address">Full address:</label><br>
        <input type="text" class="inputfield w-full" pInputText minlength="20" maxlength="250" required name="address"
               #address ngModel
               id="address"></div>

      <button type="submit" [disabled]="form.invalid" pButton class="p-button-primary mt-4">Continue</button>
    </form>

  </div>
</div>
